.asdf {
  border: 1px solid lightgray;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.h-frame {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 600px;
  max-width: 800px;
  height: 100vh;
  align-items: center;
  margin-left: 11vw
}

.inner-box {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}